.btn {
    &.btn-primary {
        &:hover {
            border-color: $secondary;
            background-color: $secondary;
        }
    }
    &.btn-primary.disabled {
        &:hover {
            border-color: $primary;
            background-color: $primary;
        }
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}