    form {
        .check-section {
            margin-bottom: 25px;
            .title {
                font-size: 2rem;
            }
            .pretty {
                display: inline-block;
            }
        }
    }